.LoignDiv {
  background-color: #fffbfa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: 970px;
  height: 680px;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 22px 65px rgba(227, 0, 162, 0.2);
  padding: 20px;
}
.login .image img {
  width: 440px;
  height: 640px;
  border-radius: 10px;
}
.login .details {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  height: 640px;
}
.login .details .title {
  font-size: 22px;
  margin-top: 68px;
}
.login .details .input {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 33px;
  border-bottom: 0;
}
.login .details .input label {
  font-size: 14px;
  margin-top: -15px;
}
.login .details .input input {
  width: 314px;
  height: 58px;
  font-size: 16px;
  padding: 20px;
  margin-top: 8px;
  background-color: #fffbfa;
  border: 1px solid #d9d5d4;
  border-radius: 5px;
  color: rgba(22, 28, 50, 0.5);
}
.login .details .login-button {
  background-color: #a04625;
  width: 314px;
  height: 58px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 18px 23px rgba(227, 160, 77, 0.49);
  margin-top: 20px;
  cursor: pointer;
}
.login .details .between-button {
  margin: 30px 0px;
  font-size: 16px;
  color: #8a8b95;
  display: block;
  text-align: center;
}
.login .details .facebook-button {
  background-color: #0d65c2;
  width: 68px;
  height: 58px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 18px 23px rgba(13, 101, 194, 0.36);
  cursor: pointer;
}
.login .details .instagram-button {
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  background-color: #d6249f;
  width: 68px;
  height: 58px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 18px 23px rgba(13, 101, 194, 0.36);
  cursor: pointer;
}
.login .details .google-button {
  background: #fbbc05;
  width: 68px;
  height: 58px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 18px 23px rgba(13, 101, 194, 0.36);
  cursor: pointer;
}
.login .details .signup {
  display: block;
  color: #0d65c2;
  margin-top: auto;
}
.logOption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
