.addressbx{
    width: 55vw;
    height: 33vh;
    /* background-color: #e7e7e7; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 25px;
    
}
.addressbx:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addressbx .addressbxcontent{
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 25px;
    padding: 20px 20px;
}
.addressbx .addressbxcontent h4{
    margin-bottom: 10px;
}
.addressbx .addressbxcontent p{
    margin-bottom: 10px;
}
.addressbx .addressbxfooter{
    display: flex;
    justify-content: space-between;
}
/* .addressbx .addressbxfooter .editaddr{
    width: 50%;
    background-color: transparent;   
    border-right: 1px solid #e7e7e7;
    height: 45px;
}
.addressbx .addressbxfooter .editaddr button{
    color: #3ab757;
    background: transparent;
    font-size: 21px;
    padding: 10px 175px;
    font-weight: 700;
    cursor: pointer;
} */
.addressbx .addressbxfooter .removeaddr{
    width: 100%;
    background-color: transparent;   
    border-right: 1px solid #e7e7e7;
    height: 45px;
}
.addressbx .addressbxfooter .removeaddr button{
    color: #3ab757;
    background: transparent;
    font-size: 21px;
    padding: 10px 375px;
    font-weight: 700;
    cursor: pointer;
}