@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
.category_section{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category_section h1{
  text-align: center;
  font-size: 40px;
  color: #41403e;
  font-weight: 600;
}
.page-content {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 20px 100px;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.CategoryCard {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  /* padding: 1rem; */
  width: 300px;
  text-align: center;
  color: whitesmoke;
  border-radius: 4px;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .CategoryCard {
    height: 350px;
  }
}
.CategoryCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.CategoryCard:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.CategoryCard:nth-child(1):before {
  background-image: url(https://www.energy.gov/sites/default/files/styles/photo_gallery_509_x_678_/public/2022-04/gardening-shutterstock_1932729521-Thumbnail.jpg?itok=wnb17__n);
}
.CategoryCard:nth-child(2):before {
  background-image: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,h_1000,q_auto:good,w_1000/v1/cms/Jan_23_Decorate-min.jpg);
}
.CategoryCard:nth-child(3):before {
  background-image: url(https://image.shutterstock.com/image-photo/farmers-hand-planting-seeds-soil-260nw-1653108823.jpg);
}
.CategoryCard:nth-child(4):before {
  background-image: url(https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-bulbs-hyacinth-purple-sensation-bulbs-16968945664140_512x512.jpg?v=1634221990);
}
.CategoryCard:nth-child(5):before {
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/petunia-flowers-growing-in-flower-pots-on-the-royalty-free-image-1584554126.jpg);
}
.CategoryCard:nth-child(6):before {
  background-image: url(https://media.istockphoto.com/id/959697442/photo/farmer-giving-granulated-fertilizer-to-young-tomato-plants.jpg?s=612x612&w=0&k=20&c=4sewLXboXwTJY9kAXcyjw0GAwN33XzEGVjln597d_aE=);
}
.CategoryCard:nth-child(7):before {
  background-image: url(https://media.istockphoto.com/id/1401978017/photo/tower-of-stones-on-sicilian-pebble-beach.jpg?b=1&s=170667a&w=0&k=20&c=VA6pGi-NdpHSVo0ggacOee7CaP_rSh8KKFru-UKM-0M=);
}
.CategoryCard:nth-child(8):before {
  background-image: url(https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-gardening-tools-bonsai-set-no-1025-gardening-tools-16968648360076_600x600.jpg?v=1634214773);
}

.CategoryCard .Categorycontent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  transition: transform var(--d) var(--e);
  z-index: 1;
  color: #fff;
}
.CategoryCard .Categorycontent > * + * {
  margin-top: 1rem;
 
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1.6rem;
  width: 100%;
}


.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  padding: 0 1rem;
}

/* .btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.85rem;
  font-weight: bolder;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(51, 219, 104);
  border-radius: 5px;
  border: none;
}
.btn:hover {
  background-color: rgb(38, 164, 78);
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
} */
.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 2px;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #03a634;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
@media (hover: hover) and (min-width: 600px) {
  .CategoryCard:after {
    transform: translateY(0);
  }

  .Categorycontent {
    transform: translateY(calc(100% - 4.5rem));
  }
  .Categorycontent > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
   
  }

  .CategoryCard:hover,
.CategoryCard:focus-within {
    align-items: center;
   
  }
  .CategoryCard:hover:before,
.CategoryCard:focus-within:before {
    transform: translateY(-4%);
  }
  .CategoryCard:hover:after,
.CategoryCard:focus-within:after {
    transform: translateY(-50%);
  }
  .CategoryCard:hover .Categorycontent,
.CategoryCard:focus-within .Categorycontent {
    transform: translateY(0);
  }
  .CategoryCard:hover .Categorycontent > *:not(.title),
.CategoryCard:focus-within .Categorycontent > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
   
  }

  .CategoryCard:focus-within:before, .CategoryCard:focus-within:after,
.CategoryCard:focus-within .Categorycontent,
.CategoryCard:focus-within .Categorycontent > *:not(.title) {
    transition-duration: 0s;
}
}