.addnewaddress-main {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 9999999;
}
.addnewaddress {
  height: 75vh;
  width: 30%;
  position: absolute;
  top: 15%;
  right: 30%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999999;
  border-radius: 5px;
}
.addnewaddress-header {
  display: flex;
  /* justify-content: space-between; */
  padding: 0 30px 0 15px;
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  border-bottom: 2px solid #3ab757;
  padding-bottom: 15px;
}
.addnewaddress-header img {
  width: 100px;
  margin-top: 15px;
  height: 100px;
}
.addnewaddress-header h1 {
  color: #3ab757;
  font-weight: 700;
  margin-top: 30px;
  font-size: 35px;
  margin-left: 15px;
}
.addnewaddress-header h2 {
  color: #000;
  cursor: pointer;
  right: 3%;
  top: 1%;
  /* margin-top: 15px; */
  position: absolute;
}
.addnewaddress-content-container {
  padding: 20px 80px;
}
.addnewaddress-content-container .addnewaddress-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.addnewaddress-content-container .addnewaddress-content .input {
  width: 300px;
  height: 44px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 1rem;
  border: 2px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.addnewaddress-content-container .addnewaddress-content .label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}
.addnewaddress-content-container .addnewaddress-content .input-group span {
  color: #000;
}

.addnewaddressess-content-container .addnewaddress-content .input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.addnewaddress-content-container
  .addnewaddress-content
  .input-group:hover
  .label,
.input:focus {
  color: #05060fc2;
}
.addnewaddressSubBtn {
  width: 300px !important;
  height: 45px;
  padding: 10px 120px;
  background-color: #3ab757 !important;
  color: #fff !important;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600 !important;
  margin-left: 18%;
  color: #fff;
  cursor: pointer;
}
.EditProfBtn {
  margin-top: 0% !important;
  margin-left: 18%;
  width: 300px !important;
  padding: 10px 100px !important;
}
.editheadderprofimg {
  width: 125px !important;
  height: 125px !important;
  box-shadow: none !important;
  border-radius: 50%;
}
.editheader h1 {
  margin-top: 55px;
}
/* addnewaddress Ends */
.closecircleXmarkaddr {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.closecircleXmarkprof {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
/* Terms of Use */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #242836;
}

::-webkit-scrollbar-thumb {
  background: #333541;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
  background-color: #242836;
} */

.main-header {
  width: 100%;
  height: 75px;
  background-color: #181a24;
  display: block;
}

.main-header ul.header-options {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 100px;
}

.main-header ul.header-options li {
  display: inline-block;
}

.main-header ul.header-options li.title {
  font-size: 18px;
  color: #fff;
  font-family: Arial;
  cursor: pointer;
}

.header-mobile {
  width: 100%;
  height: 75px;
  background-color: #181a24;
  text-align: center;
  display: none;
}

.title-mobile {
  font-size: 18px;
  color: #fff;
  font-family: Arial;
  cursor: pointer;
  padding-top: 30px;
}

.main-header a {
  text-decoration: none;
  font-size: 16px;
  color: #6d6f79;
  font-family: Arial;
  cursor: pointer;
}

.main-header a:hover {
  font-size: 16px;
  color: #9598a7;
}

.termCard {
  margin-bottom: 100px;
  height: 1950px;
  width: 1200px;
  border-radius: 30px;
  background-color: #333541;
  margin-left: auto;
  margin-right: auto;
}

.termCard .primary-heading {
  text-align: center;
  font-family: josefin sans;
  color: white;
  padding-top: 50px;
  font-size: 4em;
}

.paragraph {
  font-family: josefin sans;
  color: rgb(179, 179, 179);
  margin-left: 50px;
  margin-right: 25px;
  padding-top: 50px;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 500;
}

.bold {
  font-weight: 700;
  color: white;
}

.footer-heading {
  text-align: center;
  font-family: josefin sans;
  color: white;
  margin-bottom: 50px;
  font-size: 2em;
  line-height: 35px;
  margin-top: 55px;
}

@media only screen and (max-width: 1218px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 2050px;
    width: 1000px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1012px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 2350px;
    width: 800px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 832px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 2950px;
    width: 600px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }
  .termCard .primary-heading {
    font-size: 3.5em;
  }

  .footer-heading {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 626px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 3850px;
    width: 450px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }

  .header-mobile {
    display: block;
  }

  .main-header {
    display: none;
  }

  .termCard .primary-heading {
    font-size: 3em;
  }
}

@media only screen and (max-width: 480px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 5050px;
    width: 350px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }

  .termCard .primary-heading {
    font-size: 2em;
  }
}

@media only screen and (max-width: 365px) {
  .termCard {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 6300px;
    width: 290px;
    border-radius: 30px;
    background-color: #333541;
    margin-left: auto;
    margin-right: auto;
  }

  .termCard .primary-heading {
    font-size: 2em;
  }
}

/*  */

/* .privacyPolicy{
    width: 100%;
} */
.privacyPolicy {
  margin-bottom: 100px;
  height: 2375px;
  width: 1200px;
  border-radius: 30px;
  /* background-color: #333541; */
  margin-left: auto;
  margin-right: auto;
}

/* Order History */

.orderhistory {
  width: 60vw;
  background: #f0f2f2;
}
.orderhistory .orderhistoryheader {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.orderhistory .OrderPay {
  margin-left: 100px;
}
.OrderHistory h1 {
  padding: 20px 5px;
  font-size: 45px;
  font-weight: 700;
}
.orderhistory .orderhistoryheader .OrderPlaced {
  margin-right: 150px;
  /* margin-left: 25px; */
  padding: 0px 40px;
}
.orderhistory .orderhistoryheader .OrderTotal {
  margin-right: 150px;
}
.OrderHistory .orderhistoryproduct {
  width: 60vw;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px 40px;
  margin-bottom: 50px;
}
.orderhistoryproduct .orderproductcard {
  display: flex;
}
.orderhistoryproduct .orderproductcard img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 15px;
}
.orderhistoryproduct .orderproductcard .orderproductdesc {
  margin-top: 30px;
  margin-left: 15px;
  width: 70%;
}
.orderhistoryproduct .orderproductcard .orderproductdesc span {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
}
